<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Confana</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#search">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Username</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
	<div class="star star-3"></div>
	<div class="demo">
  <% 5.times do %>
    <div class="circle">
      <div class="inner"></div>
    </div>
  <% end %>
</div>
    <div class="col-xs-12 logoText"><div class="logo"><h1><%= image_tag("search.png", :class => "searchIcon") %></h1></div>CONFANA
    <form class="search" action="">
  <input type="search" placeholder="Search here..." required>
  <button type="submit">Search</button>
</form>   
</div>

    <div class="star star-1"></div>
    <div class="star star-2"></div>
    <div class="star star-4"></div>
</div>